<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en"
      py:strip="">
  <head py:match="head" py:attrs="select('@*')">
      <script language="javascript" src="/js/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <meta py:replace="select('*|text()')" />
  </head>
  <body class="background-5" py:match="body" py:attrs="select('@*')">
      <div id="content" class="background-6">
          <div py:replace="select('*|text()')">This page has no content.</div>
      </div>
  </body>
</html>

